@using Climb.Services
@using Microsoft.AspNetCore.Hosting
@model Climb.ViewModels.SetCollapsedViewModel
@inject IHostingEnvironment hostingEnvironment
@inject CdnService cdnService

<div class="set-container">
    <div class="set-main">
        <img class="set-player-image" src="@cdnService.GetProfilePic(Model.set.Player1)"/>
        <div class="set-info">
            <div class="set-season">
                @Html.Partial("/Views/Leagues/Partials/Name.cshtml", Model.set.League)
                <span class="set-season-separator">|</span>
                @Html.Partial("/Views/Seasons/Partials/Name.cshtml", Model.set.Season)
                <span class="set-season-separator">|</span>
                <span>@Model.set.DueDate.ToShortDateString()</span>
            </div>
            <span>@Html.Partial("/Views/Users/Partials/Name.cshtml", Model.set.Player1?.User) v @Html.Partial("/Views/Users/Partials/Name.cshtml", Model.set.Player2?.User)</span>
            <br/>
            @if(Model.set.IsComplete)
            {
                <span>@(Model.set?.Player1Score??0) - @(Model.set.Player2Score??0)</span>
            }
            else
            {
                <span>---</span>
            }
        </div>
        <img class="set-player-image" src="@cdnService.GetProfilePic(Model.set.Player2)"/>
    </div>
    
    <form asp-controller="Sets" asp-action="Fight" asp-route-id="@Model.set.ID" method="get">
        <input type="hidden" name="returnUrl" value="@Model.returnUrl"/>
        <button class="set-submit">@(Model.set.IsComplete ? "Edit" : "Fight!")</button>
    </form>
</div>
