@using Climb.Services
@using Microsoft.AspNetCore.Hosting
@model Climb.ViewModels.SetCollapsedViewModel
@inject IHostingEnvironment hostingEnvironment
@inject ICdnService cdnService

<div class="set-container">
    <div class="set-main">
        <img class="set-player-image" src="@cdnService.GetProfilePic(Model.set.Player1)"/>
        <div class="set-info">
            <div class="set-season">
                @Html.Partial("/Views/Leagues/Partials/Name.cshtml", Model.set.League)
                <span class="set-season-separator">|</span>
                @Html.Partial("/Views/Seasons/Partials/Name.cshtml", Model.set.Season)
                <span class="set-season-separator">|</span>
                <span>@Model.set.DueDate.ToShortDateString()</span>
            </div>
            <span>@Html.Partial("/Views/Users/Partials/Name.cshtml", Model.set.Player1?.User) v @Html.Partial("/Views/Users/Partials/Name.cshtml", Model.set.Player2?.User)</span>
            <br/>
            <span>@(Model.set?.Player1Score??0) - @(Model.set.Player2Score??0)</span>
        </div>
        <img class="set-player-image" src="@cdnService.GetProfilePic(Model.set.Player2)"/>
    </div>

    <button class="set-submit" onclick="location.href = '/Sets/Fight/@Model.set.ID'">@(Model.set.IsComplete ? "Edit" : "Fight!")</button>
</div>
