@using Climb.Controllers
@using Climb.Services
@using Climb.ViewModels.Matches
@using Climb.ViewModels.Sets
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.Rendering
@model SetFightViewModel
@inject CdnService cdnService
@inject IHostingEnvironment environment

<link href="/css/fight.css" rel="Stylesheet" type="text/css"/>

<div class="form-container">
    <div class="form">
        <div class="player-container">
            <div class="player">
                <div class="player-picture">
                    <img class="profile-picture" src="@cdnService.GetImageUrl(CdnService.ImageTypes.ProfilePic, Model.set.Player1.ProfilePicKey)"/>
                </div>
                <div class="player-info">
                    <div class="player-info-name">
                        <span>@Model.set.Player1Name</span>
                    </div>
                    <div class="player-info-rank">
                        <span>@Model.RankP1</span>
                        <span>↓</span>
                    </div>
                </div>
            </div>
            <span class="versus">V</span>
            <div class="player">
                <div class="player-info">
                    <div class="player-info-name text-right">
                        <span>@Model.set.Player2Name</span>
                    </div>
                    <div class="player-info-rank">
                        <span>↑</span>
                        <span>@Model.RankP2</span>
                    </div>
                </div>
                <div class="player-picture">
                    <img class="profile-picture" src="@cdnService.GetImageUrl(CdnService.ImageTypes.ProfilePic, Model.set.Player2.ProfilePicKey)"/>
                </div>
            </div>
        </div>
        <div class="header">
            <span>@Model.set.League.Name</span>
            <span>&nbsp;|&nbsp;</span>
            <span>@(Model.set.Season?.DisplayName ?? "Exhibition")</span>
            <span>&nbsp;|&nbsp;</span>
            <span>@Model.set.DueDate.ToShortDateString()</span>
        </div>
        <div>@Model.set.League.Game.SetRules</div>
        <div class="set-count-container">
            <div class="set-count">
                <span id="player-1-score">0</span>
            </div>
            <span class="set-count-separator">-</span>
            <div class="set-count">
                <span id="player-2-score">0</span>
            </div>
        </div>

        @if(!Model.set.IsLocked)
        {
            <div class="add-match">
                <button onclick="addMatch()">Add Match</button>
            </div>
        }

        <form id="set-form" asp-controller="Sets" asp-action="Submit" method="post">
            <input type="hidden" name="id" value="@Model.set.ID"/>
            <div class="match-wrapper">
                <div class="match-container">
                    <div id="matches" class="matches">
                        @for(int i = 0; i < SetsController.MaxMatchCount; i++)
                        {
                            var match = Model.matches[i];
                            var enable = match != null || i == 0;

                            <div @(enable ? null : Html.Raw("style=\"display: none\""))>
                                @Html.Partial("/Views/Sets/Partials/MatchForm.cshtml", MatchFormViewModel.Create(i, Model.set, match, Model.lastSetP1, Model.lastSetP2))
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if(Model.canSubmit)
            {
                <div class="submit">
                    <input id="submit-button" type="submit" value="Submit"/>
                </div>
            }
        </form>
    </div>
</div>