@using Climb.Services
@model Set
@inject ICdnService CDNService

<link href="/css/fight.css" rel="Stylesheet" type="text/css"/>

<div class="form-container">
	<div class="form">
		<div class="player-container">
			<div class="player">
				<div class="player-picture">
					<img class="profile-picture" src="@CDNService.GetProfilePic(Model.Player1)"/>
				</div>
				<div class="player-info">
					<div class="player-info-name">
						<span>@Model.Player1Name</span>
					</div>
					<div class="player-info-rank">
						<span>#@Model.Player1.Rank</span>
						<span>↓</span>
					</div>
				</div>
			</div>
			<span class="versus">V</span>
			<div class="player">
				<div class="player-info">
					<div class="player-info-name text-right">
						<span>@Model.Player2Name</span>
					</div>
					<div class="player-info-rank">
						<span>↑</span>
						<span>#@Model.Player2.Rank</span>
					</div>
				</div>
				<div class="player-picture">
					<img class="profile-picture" src="@CDNService.GetProfilePic(Model.Player2)"/>
				</div>
			</div>
		</div>
		<div class="header">
			<span>@Model.League.Name</span>
			<span>&nbsp;|&nbsp;</span>
			<span>@(Model.Season?.DisplayName ?? "Exhibition")</span>
			<span>&nbsp;|&nbsp;</span>
			<span>@Model.DueDate.ToShortDateString()</span>
		</div>
		<div class="set-count-container">
			<div class="set-count">
				<span>1</span>
			</div>
			<span class="set-count-separator">-</span>
			<div class="set-count">
				<span>2</span>
			</div>
		</div>
		<div class="add-match">
			<form asp-controller="Sets" asp-action="AddMatch" method="post">
				<input type="hidden" name="setID" value="@Model.ID"/>
				<div class="form-group">
					<input type="submit" value="Add Match" class="btn btn-primary"/>
				</div>
			</form>
		</div>

		<form asp-controller="Sets" asp-action="Submit" method="post">
			<input type="hidden" name="setID" value="@Model.ID"/>
			<div class="match-wrapper">
				<div class="match-container">
					<div class="match-header">
						<div class="match-form-score">P1 Score</div>
						<div class="match-form-score">P2 Score</div>
						<div class="match-form-character">P1 Character</div>
						<div class="match-form-character">P2 Character</div>
						<div class="match-form-stage">Stage</div>
					</div>

					<div class="matches">
						@foreach(var match in Model.Matches)
						{
							@Html.Partial("/Views/Sets/Partials/MatchForm.cshtml", match)
						}
					</div>
				</div>
			</div>
			<div class="submit form-group">
				<input type="submit" value="Submit" class="btn btn-danger"/>
			</div>
		</form>
	</div>
</div>