@using System.Linq
@using Microsoft.AspNetCore.Identity
@model Climb.Models.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Log in";
	Layout = "";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Climb</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
		      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
		      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>

<body>
	<div align="center">
		<h2>Welcome to Climb!</h2>
		<br />
		@{
			var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
			<form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
				<div>
					<p>
						@foreach (var provider in loginProviders)
						{
							<button type="submit" class="btn btn-danger btn-lg" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign in with @provider.Name</button>
						}
					</p>
				</div>
			</form>
		}
	</div>
</body>
