@using Climb.ViewModels
@using Climb.ViewModels.Seasons
@model HomeViewModel

@{
	ViewData["Title"] = "Season-Home";
}

<script type="text/javascript" src="@Url.Content("/js/season.js")"></script>

<h1>Seasons - Home</h1>

<img src="@Model.BracketUrl" />

@if (!Model.season.IsComplete)
{
    <button onclick="endSeason(@Model.season.ID)">End Season</button>
}

<div>
    <h2>Standings</h2>
    @foreach(var participant in Model.standings)
    {
        <div>
            <span>@participant.user.Standing</span>
            <span>@participant.user.LeagueUser.User.Username</span>
            <span>(@participant.user.Points of @participant.possiblePoints)</span>
        </div>
    }
</div>

<div>
    <h2>Sets</h2>
    @foreach(var set in Model.season.Sets)
    {
        var viewModel = new SetCollapsedViewModel(set, Model.leagueUser);
        @Html.Partial("~/Views/Sets/Partials/Collapsed.cshtml", viewModel)
    }
</div>