@using Climb.Consts
@using Climb.ViewModels
@using Climb.ViewModels.Seasons
@model HomeViewModel

@{
    ViewData["Title"] = "Season-Home";
    Layout = "_HomeLayout";
    var returnUrl = Url.Action("Home", "Seasons", new {Model.season.ID});
}

@section Styles
{
    <link href="/css/season.css" type="text/css" rel="stylesheet"/>
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/js/season.js")"></script>
}

@section Body_Banner
{
    <img class="body-banner-image" src="@Model.season.League.Game.BannerPicUrl"/>
    <h1 class="season-title">@Model.season.DisplayName</h1>
    <h2 class="season-subtitle">@Model.season.League.Name</h2>
}

@if(FeatureToggles.Challonge)
{
    <img src="@Model.BracketUrl"/>
}

@if(!Model.season.IsComplete)
{
    <button onclick="endSeason(@Model.season.ID)">End Season</button>
}

@section User_Content_Left
{
    <h3>Standings</h3>
    @if(Model.leagueUser != null)
    {
        if(Model.season.Participants.Any(p => p.LeagueUserID == Model.leagueUser.ID))
        {
            <form id="leave-form" asp-controller="Seasons" asp-action="Leave" method="post">
                <input type="hidden" name="id" value="@Model.season.ID"/>
                <input type="hidden" name="leagueUserID" value="@Model.leagueUser.ID"/>
                <button type="button" onclick="leaveSeason(@Model.season.LeagueID)">Leave</button>
            </form>
        }
        else
        {
            <form id="join-form" asp-controller="Seasons" asp-action="Join" method="post">
                <input type="hidden" name="id" value="@Model.season.ID"/>
                <input type="hidden" name="leagueUserID" value="@Model.leagueUser.ID"/>
                <button type="button" onclick="joinSeason()">Join</button>
            </form>
        }
    }

    @{ var i = 0; }
    @foreach(var participant in Model.season.Participants.OrderBy(lus => lus.Standing))
    {
        var row = i % 2 == 0 ? "row-even" : "row-odd";
        <div class="@row">
            @{ var viewModel = new StandingViewModel(participant, false);}
            @Html.Partial("~/Views/Seasons/Partials/SeasonStanding.cshtml", viewModel)
        </div>
        ++i;
    }
}

@section User_Content_Middle
{
    <h3>Activity</h3>
    @{ var i = 0; }
    @foreach(var set in Model.recentSets)
    {
        var row = i % 2 == 0 ? "row-even" : "row-odd";
        <div class="@row">
            @{ var viewModel = new SetCollapsedViewModel(set, Model.leagueUser, returnUrl); }
            @Html.Partial("/Views/Sets/Partials/Collapsed.cshtml", viewModel)
        </div>
        ++i;
    }
}

@section User_Content_Right
{
    <h3>Sets</h3>
    @{
        var overdueSets = Model.season.GetOverdueSets().ToList();
        if(overdueSets.Any())
        {
            <h4>Overdue</h4>
            var i = 0;
            foreach(var set in overdueSets)
            {
                var row = i % 2 == 0 ? "row-even" : "row-odd";
                <div class="@row">
                    @{ var viewModel = new SetCollapsedViewModel(set, Model.leagueUser, returnUrl); }
                    @Html.Partial("/Views/Sets/Partials/Collapsed.cshtml", viewModel)
                </div>
                ++i;
            }
        }

        var availableSets = Model.season.GetAvailableSets();
        if(availableSets.Any())
        {
            <h4>Available</h4>
            var i = 0;
            foreach(var set in Model.season.GetAvailableSets())
            {
                var row = i % 2 == 0 ? "row-even" : "row-odd";
                <div class="@row">
                    @{ var viewModel = new SetCollapsedViewModel(set, Model.leagueUser, returnUrl); }
                    @Html.Partial("/Views/Sets/Partials/Collapsed.cshtml", viewModel)
                </div>
                ++i;
            }
        }
    }
}
