@using Climb.Consts
@using Climb.ViewModels
@using Climb.ViewModels.Seasons
@model HomeViewModel

@{
    ViewData["Title"] = "Season-Home";
    Layout = "_HomeLayout";
}

@section Styles
{
    <link href="/css/season.css" type="text/css" rel="stylesheet"/>
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/js/season.js")"></script>
}

@section Body_Banner
{
    <h1>Seasons - Home</h1>
}

@if(FeatureToggles.Challonge)
{
    <img src="@Model.BracketUrl"/>
}

@if(!Model.season.IsComplete)
{
    <button onclick="endSeason(@Model.season.ID)">End Season</button>
}

@section User_Content_Left
{
    <h3>Standings</h3>
    @{ var i = 0; }
    @foreach(var participant in Model.standings)
    {
        var row = i % 2 == 0 ? "row-even" : "row-odd";
        <div class="@row">
            @Html.Partial("~/Views/Seasons/Partials/SeasonStanding.cshtml", participant)
        </div>
        ++i;
    }
}

@section User_Content_Middle
{
    <h3>Activity</h3>
}

@section User_Content_Right
{
    <h3>Sets</h3>
    @{ var i = 0; }
    @foreach(var set in Model.season.Sets)
    {
        var row = i % 2 == 0 ? "row-even" : "row-odd";
        var viewModel = new SetCollapsedViewModel(set, Model.leagueUser);
        <div class="@row">
            @Html.Partial("~/Views/Sets/Partials/Collapsed.cshtml", viewModel)
        </div>
        ++i;
    }
}
