@using Climb.Services
@model ValueTuple<LeagueUserSeason, int>
@inject ICdnService cdnService
@inject ILeagueUserService leagueUserService

<div class="standing-container">
    <span class="standing-rank">@Model.Item1.Standing</span>
    <img class="standing-profilepic" src="@cdnService.GetProfilePic(Model.Item1.LeagueUser)"/>

    <div class="standing-info">
        @Html.Partial("/Views/Users/Partials/Name.cshtml", Model.Item1.LeagueUser.User)
        <div>
            <span>(@Model.Item1.Points of @Model.Item2)</span>
        </div>
    </div>
</div>
