@model RankSnapshot

<div class="panel" align="center">
	<span>@Model.CreatedDate.ToShortDateString()</span>
	<br/>
	@Html.Partial("/Views/Leagues/Partials/Name.cshtml", Model.LeagueUser.League)
	<br/>
	@{
		string color;
		string deltaDirection = "";
		if(Model.DeltaRank > 0)
		{
			color = "red";
			deltaDirection = "-";
		}
		else if(Model.DeltaRank < 0)
		{
			color = "green";
			deltaDirection = "+";
		}
		else
		{
			color = "yellow";
		}
		var delta = deltaDirection + Math.Abs(Model.DeltaRank);
		<span>Rank</span>
		<span style="color: @color">@Model.Rank (@delta)</span>
		<span>|</span>
		deltaDirection = "";
		if(Model.DeltaPoints < 0)
		{
			color = "red";
			deltaDirection = "-";
		}
		else if(Model.DeltaPoints > 0)
		{
			color = "green";
			deltaDirection = "+";
		}
		else
		{
			color = "yellow";
		}
		delta = deltaDirection + Math.Abs(Model.DeltaPoints);
		<span>Score</span>
		<span style="color: @color">@Model.Points (@delta)</span>
	}
</div>