@model Climb.Models.RankEvent

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RankEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Elo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.League.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Set.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
