@model Climb.Models.RankEvent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RankEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Elo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.League.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Set.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
