@model Climb.ViewModels.LeagueCollapsedViewModel

<div class="panel panel-default">
	<div align="center" style="padding: 4px">
		<span>@Model.league.Game.Name</span>
		<br />
		<span><b>@Model.league.Name</b></span>
		<br />
		<span>Admin: @Model.league.Admin.Username | Members: @Model.league.Members.Count</span>
		<br />
		@{
			var buttonType = "btn-success";
			var label = "Join";
			if(@Model.membership == League.Membership.Member)
			{
				buttonType = "btn-danger";
				label = "Leave";
			}
			else if(Model.membership == League.Membership.Admin)
			{
				buttonType = "btn-primary";
				label = "Manage";
			}
		}
		<button class="btn @buttonType">@label</button>
	</div>
</div>
