@using Climb.Services
@using Climb.ViewModels
@model LeagueHomeViewModel

@inject ICDNService CDNService

@{
	ViewData["Title"] = "Home";
	Layout = "_Layout";
}

<link href="/css/league_home.css" rel="Stylesheet" type="text/css"/>
<script type="text/javascript" src="@Url.Content("/js/season.js")"></script>

<div align="center">
	<h1>@Model.league.Name</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h4 align="center">Power Rankings</h4>
			@{
				var users = Model.league.Members.ToList();
				users.Sort();
				foreach(var leagueUser in users)
				{
					@await Html.PartialAsync("./Partials/PowerRank", leagueUser)
				}
			}
		</div>
		<div class="col-xs-4">
			<h4 align="center">Recent Activity</h4>
			@if(Model.recentSets != null)
			{
				foreach(var set in Model.recentSets)
				{
					var viewModel = new SetCollapsedViewModel(set, null);
					@Html.Partial("../Sets/Collapsed", viewModel)
				}
			}
			else
			{
				<div align="center"><span>No recent activity</span></div>
			}
		</div>
		<div class="col-xs-4">
			<h4 align="center">Seasons</h4>
			<div class="btn-group" align="center">
				@foreach(var season in Model.league.Seasons)
				{
					var active = season.ID == Model.selectedSeason.ID ? "active" : "";
					<button id="season-@season.ID" type="button" class="btn btn-default @active" onclick="getSeasonStatus(@season.ID)">@season.DisplayName</button>
				}
			</div>
			@if(Model.selectedSeason != null)
			{
				<br/>
				<h4 align="center">@Model.selectedSeason.DisplayName</h4>
				<div>
					<table>
						<tr>
							<th>Total</th>
							<th>Completed</th>
							<th>Available</th>
							<th>Overdue</th>
						</tr>
						<tr>
							<td id="seasonStatus.totalSetCount"></td>
							<td id="seasonStatus.completedCount"></td>
							<td id="seasonStatus.availableCount"></td>
							<td id="seasonStatus.overdueCount"></td>
						</tr>
					</table>
				</div>

				foreach(var set in Model.selectedSeason.Sets)
				{
					var viewModel = new SetCollapsedViewModel(set, null);
					@Html.Partial("../Sets/Collapsed", viewModel)
				}
			}
			else
			{
				<span>No seasons</span>
			}
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function() { getSeasonStatus(@Model.selectedSeason.ID); });
	</script>
}