@using Climb.Services
@using Climb.ViewModels
@model LeagueHomeViewModel
@inject CdnService cdnService
@inject ILeagueUserService leagueUserService

@{
    ViewData["Title"] = Model.league.Name;
    Layout = "_HomeLayout";
    var returnUrl = Url.Action("Home", "Leagues", new
    {
        Model.league.ID
    });
}

@section Styles {
    <link href="/css/league_home.css" rel="Stylesheet" type="text/css" />
    <link href="/css/leagueuser/powerrank.css" type="text/css" rel="stylesheet" />
}

@section Body_Banner {
    <img class="body-banner-image" src="@Model.league.Game.BannerPicUrl" />
    <h1 class="body-banner-title">@Model.league.Name</h1>
}

@section Body_Subnavbar {
    <a asp-action="Home" asp-route-id="@Model.league.ID">Home</a>
    <a asp-action="PowerRanks" asp-route-id="@Model.league.ID">Power Ranks</a>
    <a href="#">Seasons</a>
}

<div>
    @Html.Raw(Model.league.HomePage)
</div>

@if(Model.isAdmin)
{
    <button>Edit Home Page</button>
}

@section User_Content_Left
{}

@section User_Content_Middle
{}

@section User_Content_Right
{}