@using Climb.Services
@using Climb.ViewModels
@model LeagueHomeViewModel
@inject CdnService cdnService
@inject ILeagueUserService leagueUserService

@{
    ViewData["Title"] = Model.league.Name;
    Layout = "_HomeLayout";
}

@section Styles {
    <link href="/css/league_home.css" rel="Stylesheet" type="text/css" />
    <link href="/css/leagueuser/powerrank.css" type="text/css" rel="stylesheet" />
}

@section Body_Banner {
    <img class="body-banner-image" src="@Model.league.Game.BannerPicUrl" />
    <h1 class="body-banner-title">@Model.league.Name</h1>
}

@section Body_Subnavbar {
    @Html.Partial("~/Views/Leagues/Partials/SubNavbar.cshtml", Model.league)
}

<div id="homepage">
    @Html.Raw(Model.league.HomePage)
</div>

<div id="editor" hidden>
    <form id="editor-form" asp-controller="Leagues" asp-action="UpdateHomePage">
        <input type="hidden" name="id" value="@Model.league.ID" />

        <textarea id="editor-input" name="homePage" onchange="editorUpdate()" onkeyup="editorUpdate()" form="editor-form">
            @Html.Raw(Model.league.HomePage)
        </textarea>
        <button type="button" onclick="updateHomePage()">Save</button>
    </form>
</div>

@if (Model.isAdmin)
{
    <button onclick="toggleEditor()">Edit Home Page</button>
}

@section User_Content_Left
{}

@section User_Content_Middle
{}

@section User_Content_Right
{}

@section Scripts {
    <script type="text/javascript">
        function toggleEditor() {
            var enabled = $("#editor").attr("hidden");
            $("#editor").attr("hidden", !enabled);
        }

        function editorUpdate() {
            var editor = $("#editor-input").val();
            $("#homepage").html(editor);
        }

        function updateHomePage() {
            var form = $("#editor-form");
            $.post({
                url: form.attr("action"),
                data: form.serialize(),
                success: () => {
                    location.reload();
                },
                error: function (response) {
                    alert("Can't update league home page.\n" + response.responseText);
                }
            });
        }
    </script>
}
