@using Climb.ViewModels
@model LeagueHomeViewModel

@{
	ViewData["Title"] = "Home";
}

<link href="/css/league_home.css" rel="Stylesheet" type="text/css"/>

<div align="center">
	<h1>@Model.league.Name</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h4 align="center">Power Rankings</h4>
			@{
				var users = Model.league.Members.ToList();
				users.Sort();
				foreach(var leagueUser in users)
				{
					<div class="panel">
						<span>@leagueUser.Rank (@leagueUser.Elo) @Html.Partial("../LeagueUsers/RankTrend", leagueUser.GetRankTrend())</span>
						<img src="@leagueUser.GetProfilePicUrl(Model.configuration)" width="100" height="100"/>
						@Html.Partial("../Users/Name", leagueUser.User)
					</div>
				}
			}
		</div>
		<div class="col-xs-4">
			<h4 align="center">Recent Activity</h4>
			@if(Model.recentSets != null)
			{
				foreach(var set in Model.recentSets)
				{
					var viewModel = new SetCollapsedViewModel(set, null);
					@Html.Partial("../Sets/Collapsed", viewModel)
				}
			}
			else
			{
				<div align="center"><span>No recent activity</span></div>
			}
		</div>
		<div class="col-xs-4">
			<h4 align="center">Seasons</h4>
			<div class="btn-group" align="center">
				@foreach(var season in Model.league.Seasons)
				{
					var buttonClass = "btn-info";
					if(season.IsComplete)
					{
						buttonClass = "btn-default";
					}
					else if(season.StartDate < DateTime.Now)
					{
						buttonClass = "btn-primary";
					}
					<a class="btn @buttonClass" role="button" asp-controller="Leagues" asp-action="Home" asp-route-id="@season.LeagueID" asp-route-seasonID="@season.ID">@season.DisplayName</a>
				}
			</div>
			@if(Model.selectedSeason != null)
			{
				<span>@Model.selectedSeason.DisplayName</span>
				foreach(var set in Model.selectedSeason.Sets)
				{
					var viewModel = new SetCollapsedViewModel(set, null);
					@Html.Partial("../Sets/Collapsed", viewModel)
				}
			}
			else
			{
				<span>No seasons</span>
			}
		</div>
	</div>
</div>
