@using Climb.Services
@using Climb.ViewModels
@model LeagueHomeViewModel

@inject ICdnService CDNService

@{
    ViewData["Title"] = Model.league.Name;
    Layout = "_HomeLayout";
}

@section Styles {
    <link href="/css/league_home.css" rel="Stylesheet" type="text/css" />
}

@section Body_Banner {
    <img class="body-banner-image" src="@Model.league.Game.BannerPicUrl"/>
    <h1 class="body-banner-title">@Model.league.Name</h1>
}

@section User_Content_Left {
    <h4 align="center">Power Rankings</h4>
    @{
        var users = Model.league.Members.ToList();
        users.Sort();
        for (var i = 0; i < users.Count; i++)
        {
            var row = i % 2 == 0 ? "row-even" : "row-odd";
            <div class="@row">
                @await Html.PartialAsync("Partials/PowerRank", users[i])
            </div>
        }
    }
}

@section User_Content_Middle {
    <h4 align="center">Recent Activity</h4>
    @if (Model.recentSets != null)
    {
        foreach (var set in Model.recentSets)
        {
            var viewModel = new SetCollapsedViewModel(set, null);
            @Html.Partial("/Views/Sets/Partials/Collapsed.cshtml", viewModel)
        }
    }
    else
    {
        <div align="center">
            <span>No recent activity</span>
        </div>
    }
}

@section User_Content_Right {
    <h4 align="center">Seasons</h4>

    <button onclick="createSeason(@Model.league.ID)">Create Season</button>

    <div align="center">
        @foreach (var season in Model.league.Seasons)
        {
            var active = season.ID == Model.selectedSeason.ID ? "active" : "";
            <button id="season-@season.ID" type="button" class="@active" onclick="goToSeason(@season.ID)">@season.DisplayName</button>
        }
    </div>
    @if (Model.selectedSeason != null)
    {
        <br />
        <h4 align="center">@Model.selectedSeason.DisplayName</h4>
        <div>
            <table>
                <tr>
                    <th>Total</th>
                    <th>Completed</th>
                    <th>Available</th>
                    <th>Overdue</th>
                </tr>
                <tr>
                    <td id="seasonStatus.totalSetCount"></td>
                    <td id="seasonStatus.completedCount"></td>
                    <td id="seasonStatus.availableCount"></td>
                    <td id="seasonStatus.overdueCount"></td>
                </tr>
            </table>
        </div>
        var i = 0;
        foreach (var set in Model.selectedSeason.Sets)
        {
            var row = i % 2 == 0 ? "row-even" : "row-odd";
            <div class="@row">
                @{ var viewModel = new SetCollapsedViewModel(set, null); }
                @Html.Partial("/Views/Sets/Partials/Collapsed.cshtml", viewModel)
            </div>
            ++i;
        }
    }
    else
    {
        <span>No seasons</span>
    }
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("/js/season.js")"></script>
    <script type="text/javascript" src="@Url.Content("/js/leagues.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            @{ var seasonID = Model.selectedSeason == null ? -1 : Model.selectedSeason.ID; }
            if (@seasonID >= 0) {
                getSeasonStatus(@seasonID);
            }
        });
    </script>
}
