@using Climb.ViewModels
@model CompeteLeaguesViewModel

@{
    ViewBag.Title = "Leagues";
    Layout = "_Layout";
}

<script type="text/javascript" src="@Url.Content("/js/leagues.js")"></script>
<link href="css/leagues/index.css" rel="stylesheet" type="text/css"/>

<div class="container">
    <div class="buttons">
        <h3>Filter</h3>
        <div id="membershipButtons" class="actions-container">
            <button id="membershipButtons.member" class="action-button" onclick="toggleMembership('member')">Member</button>
            <button id="membershipButtons.admin" class="action-button" onclick="toggleMembership('admin')">Admin</button>
            <button id="membershipButtons.nonMember" class="action-button" onclick="toggleMembership('nonMember')">Non-member</button>
        </div>
        <h3>New</h3>
        <div class="actions-container">
            <form class="create" asp-controller="Leagues" asp-action="Create" method="post">
                <input type="hidden" name="AdminID" value="@Model.user.ID"/>
                <div class="input-group">
                    <label>League Name</label>
                    <input type="text" name="Name"/>
                </div>
                <div class="input-group">
                    <label>Game</label>
                    <select name="GameID">
                        @foreach(var game in Model.games)
                        {
                            <option value="@game.ID">@game.Name</option>
                        }
                    </select>
                </div>
                <button class="action-button">Create New</button>
            </form>
        </div>
    </div>
    <div id="memberships">
        <div id="member">
            <h4>Member</h4>
            @{
                foreach(var league in Model.memberOf)
                {
                    var viewModel = new LeagueCollapsedViewModel(league, League.Membership.Member, Model.user.ID);
                    @Html.Partial("/Views/Leagues/Partials/Collapsed.cshtml", viewModel)
                }
            }
        </div>
        <div id="admin">
            <h4>Admin</h4>
            @{
                foreach(var league in Model.adminOf)
                {
                    var viewModel = new LeagueCollapsedViewModel(league, League.Membership.Admin, Model.user.ID);
                    @Html.Partial("/Views/Leagues/Partials/Collapsed.cshtml", viewModel)
                }
            }
        </div>
        <div id="nonMember">
            <h4>Non-Member</h4>
            @{
                foreach(var league in Model.nonmemberOf)
                {
                    var viewModel = new LeagueCollapsedViewModel(league, League.Membership.NonMember, Model.user.ID);
                    @Html.Partial("/Views/Leagues/Partials/Collapsed.cshtml", viewModel)
                }
            }
        </div>
    </div>
</div>

<script>
    window.onload = toggleMembership("member");
</script>
