@using Climb.Services
@using Climb.ViewModels.Users
@model UserAccountViewModel

@inject CdnService cdnService

@{
    ViewBag.Title = "Account";
    Layout = "_Layout";
}

<link href="/css/user/account.css" rel="stylesheet" type="text/css"/>

<div id="container">
    <div id="site-account" class="account">
        <h3>Site Account</h3>
        <div class="input">
            <label>Email</label>
            <label>@Model.appUser.Email</label>
        </div>
        <form class="input" asp-action="Update" method="post">
            <input type="hidden" name="id" value="@Model.user.ID" />
            <input type="hidden" asp-for="user.ID" />
            <div>
                <label asp-for="user.Username"></label>
                <input asp-for="user.Username" />
                <span asp-validation-for="user.Username"></span>
            </div>
            <input type="submit" value="Update" />
        </form>
        <div class="input">
            <img class="profile-pic" src="@cdnService.GetImageUrl(CdnService.ImageTypes.ProfilePic, Model.user.ProfilePicKey)" width="50" height="50" />
            <div>
                <form id="user-profile-pic-form" asp-controller="Users" asp-action="UploadProfilePic" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@Model.user.ID" />
                    <input type="file" name="file" accept="image/*" />
                    <input id="user-profile-pic-submit" type="button" onclick="onUpdateUserProfilePicClick()" value="Update" />
                </form>
                <span class="upload-size">Max File Size = @(cdnService.imageData[CdnService.ImageTypes.ProfilePic].maxFileSize.ToString("N0"))B</span>
            </div>
        </div>
        <div class="input">
            <img class="profile-pic" src="@cdnService.GetImageUrl(CdnService.ImageTypes.ProfileBanner, Model.user.BannerPicKey)" width="500" height="100" />
            <div>
                <form id="user-profile-banner-form" asp-controller="Users" asp-action="UploadProfileBanner" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@Model.user.ID" />
                    <input type="file" name="file" accept="image/*" />
                    <input id="user-profile-banner-submit" type="button" onclick="onUpdateUserProfileBannerClick()" value="Update" />
                </form>
                <span class="upload-size">Max File Size = @(cdnService.imageData[CdnService.ImageTypes.ProfileBanner].maxFileSize.ToString("N0"))B</span>
            </div>
        </div>
    </div>

    <h3>League Accounts</h3>
    @foreach(var leagueUser in Model.user.LeagueUsers)
    {
        <div class="league-account account">
            <h4>@leagueUser.League.Name</h4>
            <span>ID: @leagueUser.ID</span>
            <form class="input" asp-controller="LeagueUsers" asp-action="UpdateDisplayName" method="post">
                <input type="hidden" name="id" value="@leagueUser.ID"/>
                <label>Display Name</label>
                <input type="text" name="DisplayName" value="@leagueUser.DisplayName"/>
                <input type="submit" value="Update"/>
            </form>
            <form class="input" asp-controller="LeagueUsers" asp-action="UpdateSlackUsername" method="post">
                <input type="hidden" name="id" value="@leagueUser.ID"/>
                <label>Slack Name</label>
                <input type="text" name="slackUsername" value="@leagueUser.SlackUsername"/>
                <input type="submit" value="Update"/>
            </form>
            <div class="input">
                <img class="profile-pic" src="@cdnService.GetImageUrl(CdnService.ImageTypes.ProfilePic, leagueUser.ProfilePicKey)" width="50" height="50"/>
                <div>
                    <form asp-controller="LeagueUsers" asp-action="UploadProfilePic" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="@leagueUser.ID" />
                        <input type="file" name="file" accept="image/*" />
                        <input type="submit" value="Update" />
                    </form>
                    <span class="upload-size">Max File Size = @(cdnService.imageData[CdnService.ImageTypes.ProfilePic].maxFileSize.ToString("N0"))B</span>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/Common.cshtml");
        <script type="text/javascript" src="@Url.Content("/js/user/account.js")"></script>
    }
}