@using Climb.ViewModels
@using Microsoft.AspNetCore.Hosting
@model BaseViewModel
@inject IHostingEnvironment hostingEnvironment

<environment include="Development">
    <link rel="stylesheet" href="~/css/site.css"/>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
</environment>

<div class="menu-bar">
    <img id="logo-icon" src="~/logo/logo-32x32.png"/>
    <h1 class="logo">CLIMB</h1>
    <div class="menu">
        <div class="dropdown">
            <a asp-controller="Games" asp-action="Index">Games <span>&#9660;</span></a>
            <ul class="dropdown-items">
                @foreach(var game in Model.user.LeagueUsers.Select(l => l.League.Game))
                {
                    <li>
                        <a asp-controller="Games" asp-action="Home" asp-route-id="@game.ID">@game.Name</a>
                    </li>
                }
                <li>
                    <a asp-controller="Games" asp-action="Index">Search Games</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a asp-controller="Leagues" asp-action="Index">Leagues <span>&#9660;</span></a>
            <ul class="dropdown-items">
                @foreach(var league in Model.user.LeagueUsers.Select(l => l.League))
                {
                    <li>
                        <a asp-controller="Leagues" asp-action="Home" asp-route-id="@league.ID">@league.Name</a>
                    </li>
                }
                <li>
                    <a asp-controller="Leagues" asp-action="Index">Search Leagues</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a asp-controller="Users" asp-action="Home" asp-route-id="@Model.user.ID">@Model.user.Username</a>
            <ul class="dropdown-items">
                <li>
                    <a asp-controller="Users" asp-action="Account">Account</a>
                </li>
                <li>
                    <form id="logout-form" asp-controller="Account" asp-action="Logout" method="post">
                        <a href="javascript:{}" onclick="document.getElementById('logout-form').submit();">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            @if(hostingEnvironment.IsDevelopment())
            {
                <a asp-controller="Admin" asp-action="Index">Admin</a>
            }
        </div>
    </div>
</div>