@model Climb.ViewModels.LeagueCollapsedViewModel

<div class="panel">
    <div align="center" style="padding: 4px">
        <span>@Html.Partial("/Views/Games/Partials/Name.cshtml", Model.league.Game)</span>
        <br/>
        @Html.Partial("/Views/Leagues/Partials/Name.cshtml", Model.league)
        <br/>
        <span>Admin: @Html.Partial("~/Views/Users/Partials/Name.cshtml", Model.league.Admin) | Members: @Model.league.Members.Count</span>
        <br/>
        @{
            if(Model.membership == League.Membership.Member)
            {
                <form asp-controller="Leagues" asp-action="Leave" asp-route-leagueID="@Model.league.ID" asp-route-userID="@Model.userID" method="post">
                    <button type="submit">Leave</button>
                </form>
            }
            else if(Model.membership != League.Membership.Admin)
            {
                <form asp-controller="Leagues" asp-action="Join" asp-route-leagueID="@Model.league.ID" asp-route-userID="@Model.userID" method="post">
                    <button type="submit">Join</button>
                </form>
            }
        }
    </div>
</div>
