@using Climb.Services
@using Microsoft.AspNetCore.Mvc.Rendering
@model LeagueUser
@inject ICdnService cdnService
@inject ILeagueUserService leagueUserService

<div class="powerrank-container">
    <span class="powerrank-rank">@Model.Rank</span>
    <img class="powerrank-profilepic" src="@cdnService.GetProfilePic(Model)" />

    <div class="powerrank-info">
        @Html.Partial("/Views/Users/Partials/Name.cshtml", Model.User)
        <div>
            <span>(@Model.Elo) @Html.Partial("/Views/LeagueUsers/Partials/RankTrend.cshtml", Model.GetRankTrend())</span>
        </div>
    </div>
    
    <div class="powerrank-info-characters">
        @foreach(var character in await leagueUserService.GetMostUsedCharacters(Model.ID, 3))
        {
            <img src="@cdnService.GetCharacterPic(character)" />
        }
    </div>
</div>