@using Climb.ViewModels
@model CompeteScheduleViewModel

@{
	ViewBag.Title = "Schedule";
	Layout = "_Layout";
}

<h2>Schedule</h2>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h3>Leagues</h3>
			<div class="btn-group-vertical">
				@foreach (var league in Model.leagues)
				{
					var buttonClass = "btn btn-primary";
					if (league == Model.selectedLeague)
					{
						buttonClass += " active";
					}

					<a asp-action="Schedule" asp-route-userID="4" asp-route-leagueID="@league.ID" class="@buttonClass" role="button">@league.Name</a>
				}
			</div>
		</div>

		<div class="col-xs-9">
			<h3>Seasons</h3>
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">@Model.selectedSeason.DisplayName <span class="caret"></span></button>
				<ul class="dropdown-menu">
					@foreach(var season in Model.seasons)
					{
						<li><a asp-action="Schedule" asp-route-userID="4" asp-route-leagueID="@season.LeagueID" asp-route-seasonID="@season.ID">@season.DisplayName</a></li>
					}
				</ul>
			</div>
			
			<h4>Sets</h4>
			@foreach(var set in Model.selectedSeason.Sets)
			{
				var viewModel = new SetCollapsedViewModel(set, Model.leagueUser);
				@Html.Partial("../Sets/Collapsed", viewModel)
			}
		</div>
	</div>
</div>