@model Match

<link href="/css/fight.css" rel="Stylesheet" type="text/css" />	

<div class="row">
	<div class="col-md-4">
		<input type="hidden" value="@Model.ID" name="[@Model.Index].ID" />
		<input type="hidden" value="@Model.Index" name="[@Model.Index].Index"/>

		<table>
			<tr>
				<td class="match-form-score">
					<input type="number" value="@Model.Player1Score" name="[@Model.Index].Player1Score" class="form-control"/>
				</td>
				<td class="match-form-score">
					<input type="number" value="@Model.Player2Score" name="[@Model.Index].Player2Score" class="form-control" />
				</td>
				<td class="match-form-character">
					<select class="form-control">
						@foreach(var character in Model.Set.Season.League.Game.Characters)
						{
							<option>@character</option>
						}
					</select>
				</td>
				<td class="match-form-character">
					<select class="form-control">
						@foreach (var character in Model.Set.Season.League.Game.Characters)
						{
							<option>@character</option>
						}
					</select>
				</td>
				<td class="match-form-stage">
					<select class="form-control">
						<option>Final Destination</option>
						<option>Battlefield</option>
						<option>Smashville</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
</div>
