@model Match

<link href="/css/fight.css" rel="Stylesheet" type="text/css" />	

<div class="row">
	<div class="col-md-4">
		<input type="hidden" value="@Model.ID" name="[@Model.Index].ID" />
		<input type="hidden" value="@Model.Index" name="[@Model.Index].Index"/>

		<table>
			<tr>
				<td class="match-form-score">
					<input type="number" value="@Model.Player1Score" name="[@Model.Index].Player1Score" class="form-control"/>
				</td>
				<td class="match-form-score">
					<input type="number" value="@Model.Player2Score" name="[@Model.Index].Player2Score" class="form-control" />
				</td>
				<td class="match-form-character">
					<select name="[@Model.Index].Player1CharacterID" class="form-control">
						@foreach(var character in Model.Set.League.Game.Characters)
						{
							<option value="@character.ID">@character</option>
						}
					</select>
				</td>
				<td class="match-form-character">
					<select name="[@Model.Index].Player2CharacterID" class="form-control">
						@foreach (var character in Model.Set.League.Game.Characters)
						{
							<option value="@character.ID">@character</option>
						}
					</select>
				</td>
				<td class="match-form-stage">
					<select name="[@Model.Index].StageID" class="form-control">
						@foreach (var stage in Model.Set.League.Game.Stages)
						{
							<option value="@stage.ID">@stage</option>
						}
					</select>
				</td>
			</tr>
		</table>
	</div>
</div>
