@model Climb.ViewModels.GenericViewModel<LeagueUser>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>LeagueUser</h4>
	<hr />
	<h5>@Model.data.User.Username</h5>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.data.Elo)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.data.Elo)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.data.League)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.data.League.ID)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.data.User)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.data.User.ID)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.data.ProfilePicKey)
		</dt>
		<dd>
			<img src="@ViewBag.ProfilePic"/>
			<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadProfilePic">
				<input name="id" type="hidden" value="@Model.data.ID"/>
				<div class="form-group">
					<div class="col-md-10">
						<p>Upload one or more files using this form:</p>
						<input/>
						<input type="file" name="file" accept="image/*"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10">
						<input type="submit" value="Upload"/>
					</div>
				</div>
			</form>
		</dd>
	</dl>
</div>
