@model LeagueUser

<div align="center">
	@Html.Partial("../Leagues/Name", Model.League) | @Html.Partial("../Games/Name", Model.League.Game)
	<br/>
	<span>Rank: @Model.Rank</span>
	<br/>
	<span>Score: @Model.Elo</span>
	<br/>
	<span>@Html.Partial("../LeagueUsers/RankTrend", Model.GetRankTrend())</span>
</div>
