@model Climb.ViewModels.SetCollapsedViewModel

<div class="panel panel-default">
	<div align="center">
		<div>
			@Html.Partial("../Leagues/Name", Model.set.Season.League)
			|
			@Model.set.Season.DisplayName
		</div>
		<span>@Model.set.Player1Name v @Model.set.Player2Name</span>
		<br/>

		@if(Model.set.IsComplete)
		{
			<span>@Model.set.Player1Score - @Model.set.Player2Score</span>
			<br/>
			<a asp-controller="Sets" asp-action="Details" asp-route-id="@Model.set.ID" class="btn btn-info" role="button">Details</a>
		}
		else
		{
			<span>@Model.set.DueDate.ToShortDateString()</span>

			if(Model.set.IsPlaying(Model.user))
			{
				<br/>
				<a asp-controller="Sets" asp-action="Details" asp-route-id="@Model.set.ID" class="btn btn-primary" role="button">Fight!</a>
			}
		}

	</div>
</div>
