@using Microsoft.Extensions.Configuration
@model Set
@inject IConfiguration configuration

<div align="center">
	<div align="left">
		<img src="@Model.Player1.GetProfilePicUrl(configuration)" />
		<span>@Model.Player1Name</span>
	</div>
	<span>v</span>
	<div align="right">
		<img src="@Model.Player2.GetProfilePicUrl(configuration)" />
		<span>@Model.Player2Name</span>
	</div>
	<hr/>
	<form asp-action="AddMatch">
		<input type="hidden" name="setID" value="@Model.ID" />
		<div class="form-group">
			<input type="submit" value="Add Match" class="btn btn-default" />
		</div>
	</form>
</div>