@model Set

<div class="panel panel-default">
	<div align="center">
		<h5>@Model.Season.League.Name | @Model.Season.DisplayName</h5>
		<span>@Model.Player1Name v @Model.Player2Name</span>
		<br/>
		<a asp-controller="Sets" asp-action="Details" asp-route-id="@Model.ID" class="btn btn-default" role="button">Fight!</a>
	</div>
</div>
